body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

:root {
  /* account for the arrow */
  --actual-height: calc(100vh - 12px - 80px);
}

.myarrow {
  position: relative;
  padding: 12px 0 0 0;
}

.myarrow:before {
  content: "";
  height: 0;
  width: 0;
  border-width: 0 8px 12px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (prefers-color-scheme: dark) {
  .myarrow:before {
    border-color: transparent transparent #343541 transparent !important;
  }
}

.page {
  background: #eeeeee;
  /* overflow: auto; */
  /* disabled because its quite buggy */
  /* resize: both;  */
  width: 100%;
  height: calc(100vh - 12px - 80px);
  margin-top: 12px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

#form {
  height: 80px;
  width: 100%;
  display: flex;
  padding: 5px;
}
#form textarea {
  width: 100%;
  height: 80px;
  resize: none;
  overflow-y: auto; /* Adds a scrollbar when the content is too big */
  padding: 0 12px;
  font-size: 16px;
  outline: none;
  background-color: bisque;
  flex-grow: 1;
}

#form button {
  margin: 0 4px;
  padding: 0 12px;
}

webview {
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 12px - 80px);
  display: inline-flex !important;
}

.gutter {
  background-color: #A9A9A9;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #929292;
}

.gutter.gutter-horizontal {
  background-image: url("images/vertical-grip.png");
  cursor: col-resize;
}


/* this doesnt color the bar properly */

/* Customize the bar color for Split.js */
.split .split-content::after  {
  background: linear-gradient(to right, #4c6ef5, #9059ff);
}

/* Customize the bar color on hover */
.split .split-bar:hover {
  background: linear-gradient(to right, #4c6fff, #9f59ff);
}