@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

:root {
	--superprompt-height: 100px;
	--titlebar-height: 0px; /* 20px */
	--actual-height: calc(100vh - var(--titlebar-height));
}

@media (prefers-color-scheme: dark) {
	.myarrow:before {
		border-color: transparent transparent #343541 transparent !important;
	}
}

.page {
	background: #eeeeee;
	/* overflow: auto; */
	/* disabled because its quite buggy */
	/* resize: both;  */
	width: 100%;
	height: calc(100vh - var(--superprompt-height) - var(--titlebar-height));
	height: calc(100vh - var(--superprompt-height) - var(--titlebar-height));
	margin-top: 4px;
	margin: 0 auto;
	position: relative;
}

/* .flex {
	display: flex;
	border-radius: 8px;
	overflow: hidden;
} */
#form {
	@apply flex items-center justify-center bg-gray-600 border-0;
}

#form-wrapper {
	@apply flex w-screen;
}

#form textarea {
	@apply w-11/12 h-screen px-4 py-2 overflow-y-auto font-mono text-sm transition-colors bg-gray-600 border-0 shadow-inner outline-none focus:bg-gray-200;
}

#form button {
	@apply flex items-center justify-center w-1/12 text-white transition bg-gray-600 shadow-inner hover:bg-gray-200;

	height: 100%;
	margin-top: calc(var(--superprompt-height) / 2 - 24px);
}

#form svg {
	@apply stroke-white; /* Adding a margin to center the svg inside the button */
}

#webviewContainer {
	@apply flex h-max;
}

.titlebar {
	display: flex;
	justify-content: space-between;
	@apply absolute top-0 left-0 right-0 z-10 items-center h-16 text-xs text-white bg-gray-600 shadow-xl;
}

.titlebar p {
	@apply ml-4 font-mono font-semibold;
}

.titlebar button {
	@apply p-2 mr-4 font-mono text-white bg-gray-700 rounded hover:bg-gray-500;
}

webview {
	/* overflow: hidden; */
	position: absolute;
	@apply top-16;
	left: 0;
	width: 100%;
	height: calc(100vh - var(--superprompt-height) - 4rem);
	height: calc(100vh - var(--superprompt-height) - 4rem);
	display: inline-flex !important;
}

.gutter {
	background-color: #a9a9a9;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter:hover {
	background-color: #929292;
}

.gutter.gutter-horizontal {
	background-image: url('../images/vertical-grip.png');
	cursor: col-resize;
}

/* this doesnt color the bar properly */

/* Customize the bar color for Split.js */
.split .split-content::after {
	background: linear-gradient(to right, #4c6ef5, #9059ff);
}

/* Customize the bar color on hover */
.split .split-bar:hover {
	background: linear-gradient(to right, #4c6fff, #9f59ff);
}
